@import "./customAtoms.css";

/* stylelint-disable */
@import-normalize;
@tailwind utilities;
/* stylelint-enable */

:root {
	--fontSizeBase: 16px; /* stylelint-disable-line */
}

* {
	box-sizing: border-box;
}

html {
	font-size: var(--fontSizeBase);
}

body {
	font-size: 1rem;
}
